//colors
$white-color: #F7F5F2;
$pink-color: #F56D91;
$gray-color:#b1b3c9;
$cream-color:#DFDFDE;
$dblue-color: #090967;
$lblue-color: #7079d3;
$green-color: #558d02;
$ldark-color:#0f0f0f;
//measurements
$navigation-width: 70px;

@mixin center{
  width: 100%;
  transform: translateY(-50%);
  top:50%;
  text-align: center;
}
@mixin user-select($value){
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
