nav.main-nav{
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100px;
  right: 0;
  top: 0;
  background-color: #000;
  z-index: 0;
}
